<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.ArticleFilesMapper">
  <resultMap id="BaseResultMap" type="com.ssm.entity.ArticleFiles">
    <constructor>
      <idArg column="Id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ArticleId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AddressURL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  
   <resultMap type="com.ssm.entity.ArticleFiles" id="ArticleFilesArticleResult">
  <result property="id" column="Id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  <result property="articleid" column="ArticleId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  <result property="name" column="Name" javaType="java.lang.String" jdbcType="VARCHAR" />
  <result property="addressurl" column="AddressURL" javaType="java.lang.String" jdbcType="VARCHAR" />
  <result property="grade" column="Grade" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap type="com.ssm.entity.Articles" id="selectGroupByUserDateId">
  <result property="id" column="Id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  <result property="title" column="Title" javaType="java.lang.String" jdbcType="VARCHAR"/>
  <result property="createtime" column="CreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  <association property="articleType" javaType="com.ssm.entity.ArticleType">
  	<result property="id" column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
  	<result property="name" column="Name" javaType="java.lang.String" jdbcType="VARCHAR"/>
  	</association>
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_files
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.ArticleFiles">
    insert into article_files (Id, ArticleId, Name, 
      AddressURL, Grade)
    values (#{id,jdbcType=INTEGER}, #{articleid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{addressurl,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.ArticleFiles">
    update article_files
    set ArticleId = #{articleid,jdbcType=INTEGER},
      Name = #{name,jdbcType=VARCHAR},
      AddressURL = #{addressurl,jdbcType=VARCHAR},
      Grade = #{grade,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select Id, ArticleId, Name, AddressURL, Grade
    from article_files
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Id, ArticleId, Name, AddressURL, Grade
    from article_files
  </select>
  <select id="selectAllByArticleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select Id, ArticleId, Name, AddressURL, Grade
    from article_files where ArticleId = #{articleid,jdbcType=INTEGER} ORDER BY Grade desc
  </select>
  <select id="selectAllByUserDataId" resultMap="ArticleFilesArticleResult" parameterType="java.lang.Integer">
SELECT a_f.Id,a_f.ArticleId,a_f.`Name`,a_f.AddressURL,a_f.Grade from article_files as a_f JOIN articles as a JOIN article_type as a_t where a_f.ArticleId = a.Id and a_t.Id=a.TypeId and a.UserDateId = #{userdateid,jdbcType=INTEGER} AND a_f.ArticleId = #{id,jdbcType=INTEGER}
  </select>
  <!-- 通过课程id 分组 -->
  <select id="selectGroupByArticleIdByUserDateId" parameterType="java.lang.Integer" resultMap="selectGroupByUserDateId">
  SELECT a.Id,a.Title,a.CreateTime,a_t.Id as type,a_t.`Name` from article_files as a_f JOIN articles as a JOIN article_type as a_t where a_f.ArticleId = a.Id and a_t.Id=a.TypeId and a.UserDateId = #{userdateid,jdbcType=INTEGER} GROUP BY a_f.ArticleId
  </select>
</mapper>